<main>
    <div *ngIf="isPageLoading()">Chargement...</div>
    <div class=content *ngIf="!isPageLoading()">
        <h2>Profil</h2>
        <div class="profil">
            <div class="card" [style.background-image]="getBackground()">
                <div class="username">{{pangolin!.username}}</div>
                <div class="role">{{pangolin!.role}}</div>
            </div>
            <form (submit)="submit()">
                <fieldset>
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" name="username" id="username" [(ngModel)]="pangolin!.username" />
                </fieldset>
                <fieldset>
                    <label>Role</label>
                    <role-button *ngFor="let role of roleList" [role]="role" [active]="role==pangolin?.role"
                        (click)="setRole(role)"></role-button>
                </fieldset>
                <loading-button [isLoading]="isFormLoading">Sauvegarder</loading-button>
            </form>
        </div>
        <div class="error">{{error}}</div>
        <button class="logout" (click)="logOut()">Se déconnecter</button>
    </div>
</main>