:host {
    height: 100%;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

aside,
main {
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}
ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}
li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.icon {
    background: #606060;
    border-radius: 1000px;
    height: 26px;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
}
.text {
    font-size: 18px;
    flex-grow: 1;
}
/* Friend list */
aside {
    padding: 8px 16px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 300px;
    border: 2px black solid;
}
aside .text {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.remove {
    aspect-ratio: 1;
    height: 16px;
    background: transparent;
    border-width: 0px;
    font-size: 14px;
    cursor: pointer;
}

/* Other list */
main {
    flex-grow: 2;
    padding: 0px 16px;
    /* border: 2px transparent solid; */
}
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.input {
    padding: 6px 14px;
    font-size: 16px;
    border-radius: 5px;
    border-width: 2px;
    border: black 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    align-items: center;
    gap: 8px;
}
.search {
    padding: unset;
    font-size: unset;
    border-radius: unset;
    border-width: 0px;
    outline: transparent;
    height: fit-content;
}
li.alreadyFriend {
    opacity: .5;
}