<main>
    <form [formGroup]="logInForm" (ngSubmit)="logIn()">
        <fieldset>
            <label for="username">Nom d'utilisateur</label>
            <input id="username" type="text" formControlName="username"/>
        </fieldset>
        <fieldset>
            <label for="password">Mot de passe</label>
            <input id="password" type="password" formControlName="password"/>  
        </fieldset>
        <!-- TODO impl: gestion des erreurs -->
        <button type="submit" [disabled]="logInForm.invalid">Se connecter</button>
    </form>
</main>